$deep-orange50: #fbe9e7;
$deep-orange100: #ffccbc;
$deep-orange200: #ffab91;
$deep-orange300: #ff8a65;
$deep-orange400: #ff7043;
$deep-orange500: #ff5722;
$deep-orange600: #f4511e;
$deep-orange700: #e64a19;
$deep-orange800: #d84315;
$deep-orange900: #bf360c;
$deep-orangea100: #ff9e80;
$deep-orangea200: #ff6e40;
$deep-orangea400: #ff3d00;
$deep-orangea700: #dd2c00;

:export {
  deepOrange50: $deep-orange50;
  deepOrange100: $deep-orange100;
  deepOrange200: $deep-orange200;
  deepOrange300: $deep-orange300;
  deepOrange400: $deep-orange400;
  deepOrange500: $deep-orange500;
  deepOrange600: $deep-orange600;
  deepOrange700: $deep-orange700;
  deepOrange800: $deep-orange800;
  deepOrange900: $deep-orange900;
  deepOrangea100: $deep-orangea100;
  deepOrangea200: $deep-orangea200;
  deepOrangea400: $deep-orangea400;
  deepOrangea700: $deep-orangea700;
}
