$color0: #fbf1c7;
$color1: #cc241d;
$color2: #98971a;
$color3: #d79921;
$color4: #458588;
$color5: #b16286;
$color6: #689d6a;
$color7: #7c6f64;
$color8: #928374;
$color9: #9d0006;
$color10: #79740e;
$color11: #b57614;
$color12: #076678;
$color13: #8f3f71;
$color14: #427b58;
$color15: #3c3836;
$color16: #d65d0e;
$color17: #af3a03;
$red: #cc241d;
$green: #98971a;
$yellow: #d79921;
$blue: #458588;
$purple: #b16286;
$aqua: #689d6a;
$alt-gray: #7c6f64;
$gray: #928374;
$alt-red: #9d0006;
$alt-green: #79740e;
$alt-yellow: #b57614;
$alt-blue: #076678;
$alt-purple: #8f3f71;
$alt-aqua: #427b58;
$orange: #d65d0e;
$alt-orange: #af3a03;
$fg: #282828;
$fg0: #282828;
$fg1: #3c3836;
$fg2: #504945;
$fg3: #665c54;
$fg4: #7c6f64;
$bg0_h: #f9f5d7;
$bg0_s: #f2e5bc;
$bg: #f9f5d7;
$bg0: #fbf1c7;
$bg1: #ebdbb2;
$bg2: #d5c4a1;
$bg3: #bdae93;
$bg4: #a89984;

:export {
  color0: $color0;
  color1: $color1;
  color2: $color2;
  color3: $color3;
  color4: $color4;
  color5: $color5;
  color6: $color6;
  color7: $color7;
  color8: $color8;
  color9: $color9;
  color10: $color10;
  color11: $color11;
  color12: $color12;
  color13: $color13;
  color14: $color14;
  color15: $color15;
  color16: $color16;
  color17: $color17;
  red: $red;
  green: $green;
  yellow: $yellow;
  blue: $blue;
  purple: $purple;
  aqua: $aqua;
  altGray: $alt-gray;
  gray: $gray;
  altRed: $alt-red;
  altGreen: $alt-green;
  altYellow: $alt-yellow;
  altBlue: $alt-blue;
  altPurple: $alt-purple;
  altAqua: $alt-aqua;
  orange: $orange;
  altOrange: $alt-orange;
  fg: $fg;
  fg0: $fg0;
  fg1: $fg1;
  fg2: $fg2;
  fg3: $fg3;
  fg4: $fg4;
  bg0_h: $bg0_h;
  bg0_s: $bg0_s;
  bg: $bg;
  bg0: $bg0;
  bg1: $bg1;
  bg2: $bg2;
  bg3: $bg3;
  bg4: $bg4;
}
