@import './amber.scss';
@import './blue-gray.scss';
@import './gray.scss';

:export {
  amber50: $amber50;
  amber100: $amber100;
  amber200: $amber200;
  amber300: $amber300;
  amber400: $amber400;
  amber500: $amber500;
  amber600: $amber600;
  amber700: $amber700;
  amber800: $amber800;
  amber900: $amber900;
  ambera100: $ambera100;
  ambera200: $ambera200;
  ambera400: $ambera400;
  ambera700: $ambera700;
  blueGray50: $blue-gray50;
  blueGray100: $blue-gray100;
  blueGray200: $blue-gray200;
  blueGray300: $blue-gray300;
  blueGray400: $blue-gray400;
  blueGray500: $blue-gray500;
  blueGray600: $blue-gray600;
  blueGray700: $blue-gray700;
  blueGray800: $blue-gray800;
  blueGray900: $blue-gray900;
  gray50: $gray50;
  gray100: $gray100;
  gray200: $gray200;
  gray300: $gray300;
  gray400: $gray400;
  gray500: $gray500;
  gray600: $gray600;
  gray700: $gray700;
  gray800: $gray800;
  gray900: $gray900;
  black: $black;
  white: $white;
}
