@import './amber.scss';
@import './blue-gray.scss';
@import './blue.scss';
@import './brown.scss';
@import './cyan.scss';
@import './deep-orange.scss';
@import './deep-purple.scss';
@import './gray.scss';
@import './green.scss';
@import './indigo.scss';
@import './light-blue.scss';
@import './light-green.scss';
@import './lime.scss';
@import './orange.scss';
@import './pink.scss';
@import './purple.scss';
@import './red.scss';
@import './teal.scss';
@import './yellow.scss';

:export {
  red50: $red50;
  red100: $red100;
  red200: $red200;
  red300: $red300;
  red400: $red400;
  red500: $red500;
  red600: $red600;
  red700: $red700;
  red800: $red800;
  red900: $red900;
  reda100: $reda100;
  reda200: $reda200;
  reda400: $reda400;
  reda700: $reda700;
  pink50: $pink50;
  pink100: $pink100;
  pink200: $pink200;
  pink300: $pink300;
  pink400: $pink400;
  pink500: $pink500;
  pink600: $pink600;
  pink700: $pink700;
  pink800: $pink800;
  pink900: $pink900;
  pinka100: $pinka100;
  pinka200: $pinka200;
  pinka400: $pinka400;
  pinka700: $pinka700;
  purple50: $purple50;
  purple100: $purple100;
  purple200: $purple200;
  purple300: $purple300;
  purple400: $purple400;
  purple500: $purple500;
  purple600: $purple600;
  purple700: $purple700;
  purple800: $purple800;
  purple900: $purple900;
  purplea100: $purplea100;
  purplea200: $purplea200;
  purplea400: $purplea400;
  purplea700: $purplea700;
  deepPurple50: $deep-purple50;
  deepPurple100: $deep-purple100;
  deepPurple200: $deep-purple200;
  deepPurple300: $deep-purple300;
  deepPurple400: $deep-purple400;
  deepPurple500: $deep-purple500;
  deepPurple600: $deep-purple600;
  deepPurple700: $deep-purple700;
  deepPurple800: $deep-purple800;
  deepPurple900: $deep-purple900;
  deepPurplea100: $deep-purplea100;
  deepPurplea200: $deep-purplea200;
  deepPurplea400: $deep-purplea400;
  deepPurplea700: $deep-purplea700;
  indigo50: $indigo50;
  indigo100: $indigo100;
  indigo200: $indigo200;
  indigo300: $indigo300;
  indigo400: $indigo400;
  indigo500: $indigo500;
  indigo600: $indigo600;
  indigo700: $indigo700;
  indigo800: $indigo800;
  indigo900: $indigo900;
  indigoa100: $indigoa100;
  indigoa200: $indigoa200;
  indigoa400: $indigoa400;
  indigoa700: $indigoa700;
  blue50: $blue50;
  blue100: $blue100;
  blue200: $blue200;
  blue300: $blue300;
  blue400: $blue400;
  blue500: $blue500;
  blue600: $blue600;
  blue700: $blue700;
  blue800: $blue800;
  blue900: $blue900;
  bluea100: $bluea100;
  bluea200: $bluea200;
  bluea400: $bluea400;
  bluea700: $bluea700;
  lightBlue50: $light-blue50;
  lightBlue100: $light-blue100;
  lightBlue200: $light-blue200;
  lightBlue300: $light-blue300;
  lightBlue400: $light-blue400;
  lightBlue500: $light-blue500;
  lightBlue600: $light-blue600;
  lightBlue700: $light-blue700;
  lightBlue800: $light-blue800;
  lightBlue900: $light-blue900;
  lightBluea100: $light-bluea100;
  lightBluea200: $light-bluea200;
  lightBluea400: $light-bluea400;
  lightBluea700: $light-bluea700;
  cyan50: $cyan50;
  cyan100: $cyan100;
  cyan200: $cyan200;
  cyan300: $cyan300;
  cyan400: $cyan400;
  cyan500: $cyan500;
  cyan600: $cyan600;
  cyan700: $cyan700;
  cyan800: $cyan800;
  cyan900: $cyan900;
  cyana100: $cyana100;
  cyana200: $cyana200;
  cyana400: $cyana400;
  cyana700: $cyana700;
  teal50: $teal50;
  teal100: $teal100;
  teal200: $teal200;
  teal300: $teal300;
  teal400: $teal400;
  teal500: $teal500;
  teal600: $teal600;
  teal700: $teal700;
  teal800: $teal800;
  teal900: $teal900;
  teala100: $teala100;
  teala200: $teala200;
  teala400: $teala400;
  teala700: $teala700;
  green50: $green50;
  green100: $green100;
  green200: $green200;
  green300: $green300;
  green400: $green400;
  green500: $green500;
  green600: $green600;
  green700: $green700;
  green800: $green800;
  green900: $green900;
  greena100: $greena100;
  greena200: $greena200;
  greena400: $greena400;
  greena700: $greena700;
  lightGreen50: $light-green50;
  lightGreen100: $light-green100;
  lightGreen200: $light-green200;
  lightGreen300: $light-green300;
  lightGreen400: $light-green400;
  lightGreen500: $light-green500;
  lightGreen600: $light-green600;
  lightGreen700: $light-green700;
  lightGreen800: $light-green800;
  lightGreen900: $light-green900;
  lightGreena100: $light-greena100;
  lightGreena200: $light-greena200;
  lightGreena400: $light-greena400;
  lightGreena700: $light-greena700;
  lime50: $lime50;
  lime100: $lime100;
  lime200: $lime200;
  lime300: $lime300;
  lime400: $lime400;
  lime500: $lime500;
  lime600: $lime600;
  lime700: $lime700;
  lime800: $lime800;
  lime900: $lime900;
  limea100: $limea100;
  limea200: $limea200;
  limea400: $limea400;
  limea700: $limea700;
  yellow50: $yellow50;
  yellow100: $yellow100;
  yellow200: $yellow200;
  yellow300: $yellow300;
  yellow400: $yellow400;
  yellow500: $yellow500;
  yellow600: $yellow600;
  yellow700: $yellow700;
  yellow800: $yellow800;
  yellow900: $yellow900;
  yellowa100: $yellowa100;
  yellowa200: $yellowa200;
  yellowa400: $yellowa400;
  yellowa700: $yellowa700;
  amber50: $amber50;
  amber100: $amber100;
  amber200: $amber200;
  amber300: $amber300;
  amber400: $amber400;
  amber500: $amber500;
  amber600: $amber600;
  amber700: $amber700;
  amber800: $amber800;
  amber900: $amber900;
  ambera100: $ambera100;
  ambera200: $ambera200;
  ambera400: $ambera400;
  ambera700: $ambera700;
  orange50: $orange50;
  orange100: $orange100;
  orange200: $orange200;
  orange300: $orange300;
  orange400: $orange400;
  orange500: $orange500;
  orange600: $orange600;
  orange700: $orange700;
  orange800: $orange800;
  orange900: $orange900;
  orangea100: $orangea100;
  orangea200: $orangea200;
  orangea400: $orangea400;
  orangea700: $orangea700;
  deepOrange50: $deep-orange50;
  deepOrange100: $deep-orange100;
  deepOrange200: $deep-orange200;
  deepOrange300: $deep-orange300;
  deepOrange400: $deep-orange400;
  deepOrange500: $deep-orange500;
  deepOrange600: $deep-orange600;
  deepOrange700: $deep-orange700;
  deepOrange800: $deep-orange800;
  deepOrange900: $deep-orange900;
  deepOrangea100: $deep-orangea100;
  deepOrangea200: $deep-orangea200;
  deepOrangea400: $deep-orangea400;
  deepOrangea700: $deep-orangea700;
  brown50: $brown50;
  brown100: $brown100;
  brown200: $brown200;
  brown300: $brown300;
  brown400: $brown400;
  brown500: $brown500;
  brown600: $brown600;
  brown700: $brown700;
  brown800: $brown800;
  brown900: $brown900;
  gray50: $gray50;
  gray100: $gray100;
  gray200: $gray200;
  gray300: $gray300;
  gray400: $gray400;
  gray500: $gray500;
  gray600: $gray600;
  gray700: $gray700;
  gray800: $gray800;
  gray900: $gray900;
  black: $black;
  white: $white;
  blueGray50: $blue-gray50;
  blueGray100: $blue-gray100;
  blueGray200: $blue-gray200;
  blueGray300: $blue-gray300;
  blueGray400: $blue-gray400;
  blueGray500: $blue-gray500;
  blueGray600: $blue-gray600;
  blueGray700: $blue-gray700;
  blueGray800: $blue-gray800;
  blueGray900: $blue-gray900;
}
