// @import '../colors/gruvbox-dark.scss';
@import '../colors/gruvbox-light.scss';
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&family=Montserrat:wght@500&display=swap');

$body-bgc: $bg0;
$body-color: $fg0;

// page variables
$page-border: 0; // 0.2em solid $orange;
$header-color: $blue;

// game board variables
$game-board-border: 0; // 0.2em solid $purple;

// sudoku board variables
$sudoku-container-border: 0; // 0.2em solid $aqua;
$tile-border-highlight: 0.25em solid $bg3;
$tile-bgc-highlight: $fg1;
$tile-text-color-highlight: $bg0_h;
$tile-border-active: 0.25em solid $orange !important;
$tile-bgc-active: $fg1;
$tile-text-color-active: $bg0_h;
$tile-border-warning: 0.25em solid $bg3;
$tile-bgc-warning: $dark_red !important;
$tile-text-color-warning: $bg0_h;
$tile-border-thin: 0.25em solid $bg4;
$tile-border-thin-hover: 0.25em solid $orange !important;
$tile-border-inner-edge: 0.25em solid $dark_blue;
$tile-border-inner-edge-hover: 0.25em solid $red;
$tile-border-outer-edge: 0.25em solid $fg3;
$tile-border-outer-edge-hover: 0.25em solid $red;
$tile-background-color: $bg0_h;
$tile-width: 4.5em;
$tile-height: 4.5em;
$tile-text-size: 3.25em;
$tile-text-color: $fg0;

// menu variables
$menu-border: 0; // 0.1em solid $fg0;
$menu-header-border: 0; // 0.1em solid $red;
$menu-header-text-color: $fg1;
$menu-container-border: 0; // 0.2em solid $yellow;
$menu-button-background-color: $bg4;
$menu-button-border: 0.3em solid $fg2;
$menu-button-text-color: $fg0;
$menu-button-focus-bgc: $green;
$menu-button-dropdown-bgc: $dark_blue;
$menu-button-dropdown-border: 0.2em solid $fg1;
$menu-button-dropdown-color: $fg0;

body {
  background-color: $body-bgc;
  color: $body-color;
}

.dev-text {
  color: $fg0;
}

.page {
  margin: 0 auto;
  padding: 2em;
  width: 50em;
  height: 36em;
  border: $page-border;

  &-header {
    text-align: center;
    color: $header-color;
    &-text {
      margin: 0.25em 0.5em;
    }
  }

  &-footer {
    text-align: center;
    margin: 0.25em 0 0;
  }
}

.game-board {
  display: flex;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  border: $game-board-border;
}

.sudoku {
  display: flex;
  flex: 2;
  padding: 0;
  margin: 0;

  &-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    border: $sudoku-container-border;
  }

  &-row {
    display: flex;
    flex-flow: row wrap;
  }

  &-tile {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5px;
    border: $tile-border-thin;
    width: $tile-width;
    height: $tile-height;
    background-color: $tile-background-color;

    &-value {
      font-size: $tile-text-size;
      color: $tile-text-color;
      width: $tile-width;
    }

    &-candidate {
      display: inline-flex;
      width: $tile-width;
      height: 100%;
      flex-wrap: wrap;
      justify-content: space-between;
      // border: 0.1px solid $fg0;

      &-text {
        font-size: 0.75em;
        flex: 1 33%;
        width: 32%;
        position: relative;
        color: $tile-text-color;
      }
    }

    &-highlight {
      border: $tile-border-highlight;
      background-color: $tile-bgc-highlight;

      > div {
        color: $tile-text-color-highlight;
      }
    }

    &-active {
      border: $tile-border-active;
      background-color: $tile-bgc-active;

      > div {
        color: $tile-text-color-active;
      }
    }

    &-warning {
      border: $tile-border-warning;
      background-color: $tile-bgc-warning;

      > div {
        color: $tile-text-color-warning;
      }
    }

    &:hover {
      border: $tile-border-thin-hover;
      cursor: pointer;
    }

    &:active {
      border: $tile-border-thin-hover;
      cursor: pointer;
    }

    &-outer {
      &-left {
        border-left: $tile-border-outer-edge;

        &:hover {
          border-left: $tile-border-outer-edge-hover;
        }

        &:active {
          border-left: $tile-border-outer-edge-hover;
        }
      }

      &-right {
        border-right: $tile-border-outer-edge;

        &:hover {
          border-right: $tile-border-outer-edge-hover;
        }

        &:active {
          border-right: $tile-border-outer-edge-hover;
        }
      }

      &-top {
        border-top: $tile-border-outer-edge;

        &:hover {
          border-top: $tile-border-outer-edge-hover;
        }

        &:active {
          border-top: $tile-border-outer-edge-hover;
        }
      }

      &-bottom {
        border-bottom: $tile-border-outer-edge;

        &:hover {
          border-bottom: $tile-border-outer-edge-hover;
        }

        &:active {
          border-bottom: $tile-border-outer-edge-hover;
        }
      }
    }

    &-inner {
      &-left {
        border-left: $tile-border-inner-edge;

        &:hover {
          border-left: $tile-border-inner-edge-hover;
        }

        &:active {
          border-left: $tile-border-inner-edge-hover;
        }
      }

      &-right {
        border-right: $tile-border-inner-edge;

        &:hover {
          border-right: $tile-border-inner-edge-hover;
        }

        &:active {
          border-right: $tile-border-inner-edge-hover;
        }
      }

      &-top {
        border-top: $tile-border-inner-edge;

        &:hover {
          border-top: $tile-border-inner-edge-hover;
        }

        &:active {
          border-top: $tile-border-inner-edge-hover;
        }
      }

      &-bottom {
        border-bottom: $tile-border-inner-edge;

        &:hover {
          border-bottom: $tile-border-inner-edge-hover;
        }

        &:active {
          border-bottom: $tile-border-inner-edge-hover;
        }
      }
    }
  }
}

.menu {
  display: flex;
  flex: 1;
  margin: 0;
  padding: 0;
  flex-direction: column;
  border: $menu-border;

  &-header {
    border: $menu-header-border;
    text-align: center;
    margin: 1em 0 0;
    padding: 1em 0 0;

    &-text {
      color: $menu-header-text-color;
    }
  }

  &-container {
    border: $menu-container-border;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  }

  &-button {
    margin: 1em 0;
    min-width: 15em;
    height: 2.5em;
    background-color: $menu-button-background-color;
    border: $menu-button-border;
    color: $menu-button-text-color;
    font-size: 1em;

    &:focus {
      background-color: $menu-button-focus-bgc;
    }
  }

  &-number {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;

    &-container {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: center;
    }

    &-button {
      min-width: 2em;
      height: 2em;
      background-color: $bg4;
      border: 0.1em solid $fg0;

      &-active {
        background-color: $fg2;
        color: $bg1;
      }
    }
  }

  &-dropdown {
    position: relative;

    &-container {
      margin: 0 auto;
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      left: -5.625em;
    }

    &-button {
      margin: 0.25em 0;
      min-width: 15em;
      height: 1.65em;
      background-color: $menu-button-dropdown-bgc;
      border: $menu-button-dropdown-border;
      color: $menu-button-dropdown-color;
      font-size: 0.75em;
    }
  }
}
