$amber50: #fff8e1;
$amber100: #ffecb3;
$amber200: #ffe082;
$amber300: #ffd54f;
$amber400: #ffca28;
$amber500: #ffc107;
$amber600: #ffb300;
$amber700: #ffa000;
$amber800: #ff8f00;
$amber900: #ff6f00;
$ambera100: #ffe57f;
$ambera200: #ffd740;
$ambera400: #ffc400;
$ambera700: #ffab00;

:export {
  amber50: $amber50;
  amber100: $amber100;
  amber200: $amber200;
  amber300: $amber300;
  amber400: $amber400;
  amber500: $amber500;
  amber600: $amber600;
  amber700: $amber700;
  amber800: $amber800;
  amber900: $amber900;
  ambera100: $ambera100;
  ambera200: $ambera200;
  ambera400: $ambera400;
  ambera700: $ambera700;
}
