$cyan50: #e0f7fa;
$cyan100: #b2ebf2;
$cyan200: #80deea;
$cyan300: #4dd0e1;
$cyan400: #26c6da;
$cyan500: #00bcd4;
$cyan600: #00acc1;
$cyan700: #0097a7;
$cyan800: #00838f;
$cyan900: #006064;
$cyana100: #84ffff;
$cyana200: #18ffff;
$cyana400: #00e5ff;
$cyana700: #00b8d4;

:export {
  cyan50: $cyan50;
  cyan100: $cyan100;
  cyan200: $cyan200;
  cyan300: $cyan300;
  cyan400: $cyan400;
  cyan500: $cyan500;
  cyan600: $cyan600;
  cyan700: $cyan700;
  cyan800: $cyan800;
  cyan900: $cyan900;
  cyana100: $cyana100;
  cyana200: $cyana200;
  cyana400: $cyana400;
  cyana700: $cyana700;
}
