$green50: #e8f5e9;
$green100: #c8e6c9;
$green200: #a5d6a7;
$green300: #81c784;
$green400: #66bb6a;
$green500: #4caf50;
$green600: #43a047;
$green700: #388e3c;
$green800: #2e7d32;
$green900: #1b5e20;
$greena100: #b9f6ca;
$greena200: #69f0ae;
$greena400: #00e676;
$greena700: #00c853;

:export {
  green50: $green50;
  green100: $green100;
  green200: $green200;
  green300: $green300;
  green400: $green400;
  green500: $green500;
  green600: $green600;
  green700: $green700;
  green800: $green800;
  green900: $green900;
  greena100: $greena100;
  greena200: $greena200;
  greena400: $greena400;
  greena700: $greena700;
}
