$purple50: #f3e5f5;
$purple100: #e1bee7;
$purple200: #ce93d8;
$purple300: #ba68c8;
$purple400: #ab47bc;
$purple500: #9c27b0;
$purple600: #8e24aa;
$purple700: #7b1fa2;
$purple800: #6a1b9a;
$purple900: #4a148c;
$purplea100: #ea80fc;
$purplea200: #e040fb;
$purplea400: #d500f9;
$purplea700: #aa00ff;

:export {
  purple50: $purple50;
  purple100: $purple100;
  purple200: $purple200;
  purple300: $purple300;
  purple400: $purple400;
  purple500: $purple500;
  purple600: $purple600;
  purple700: $purple700;
  purple800: $purple800;
  purple900: $purple900;
  purplea100: $purplea100;
  purplea200: $purplea200;
  purplea400: $purplea400;
  purplea700: $purplea700;
}
