$teal50: #e0f2f1;
$teal100: #b2dfdb;
$teal200: #80cbc4;
$teal300: #4db6ac;
$teal400: #26a69a;
$teal500: #009688;
$teal600: #00897b;
$teal700: #00796b;
$teal800: #00695c;
$teal900: #004d40;
$teala100: #a7ffeb;
$teala200: #64ffda;
$teala400: #1de9b6;
$teala700: #00bfa5;

:export {
  teal50: $teal50;
  teal100: $teal100;
  teal200: $teal200;
  teal300: $teal300;
  teal400: $teal400;
  teal500: $teal500;
  teal600: $teal600;
  teal700: $teal700;
  teal800: $teal800;
  teal900: $teal900;
  teala100: $teala100;
  teala200: $teala200;
  teala400: $teala400;
  teala700: $teala700;
}
