@import 'colors/gruvbox-dark.scss';
// @import 'colors/gruvbox-light.scss';

$page-background: $bg0;
$page-color: $fg0;
$header-color: $blue;
$tile-border-thin: 0.25em solid $bg4;
$tile-border-thin-hover: 0.25em solid $orange !important;
$tile-border-inner-edge: 0.25em solid $dark_blue;
$tile-border-inner-edge-hover: 0.25em solid $red;
$tile-border-outer-edge: 0.25em solid $fg3;
$tile-border-outer-edge-hover: 0.25em solid $red;
$tile-background-color: $bg0_h;
$tile-width: 4.5em;
$tile-height: 4.5em;
$tile-text-size: 3.25em;
$menu-container-border: 0.2em solid $yellow;
$game-board-border: 0.2em solid $purple;
$page-border: 0.2em solid $orange;

body {
  font-family: Roboto, sans-serif;
  background-color: $page-background;
  color: $page-color;
  margin: 0;
}

.page {
  margin: 0 auto;
  padding: 2em;
  width: 55em;
  height: 36em;
  // border: $page-border;
  // background-color: $bg0;

  &-header {
    text-align: center;
    color: $header-color;
    &-text {
      margin: 0.25em 0.5em;
    }
  }

  &-footer {
    text-align: center;
    margin: 0.25em 0 0;
  }
}

.game-board {
  display: flex;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}

.sudoku {
  display: flex;
  flex: 2;
  padding: 0;
  margin: 0;

  &-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    // border: 0.2em solid $aqua;
  }

  &-row {
    display: flex;
    flex-flow: row wrap;
  }

  &-tile {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5px;
    border: $tile-border-thin;
    width: $tile-width;
    height: $tile-height;
    background-color: $tile-background-color;

    &-text {
      font-size: $tile-text-size;
      color: $page-color;
    }

    &-active {
      border: $tile-border-thin-hover;
    }

    &-highlight {
      background-color: $fg1;

      > div {
        color: $bg0_h;
      }
    }

    &-warning {
      background-color: $dark_red !important;

      > div {
        color: $bg0_h;
      }
    }

    &:hover {
      border: $tile-border-thin-hover;
      cursor: pointer;
    }

    &:active {
      border: $tile-border-thin-hover;
      cursor: pointer;
    }

    &-outer {
      &-left {
        border-left: $tile-border-outer-edge;

        &:hover {
          border-left: $tile-border-outer-edge-hover;
        }

        &:active {
          border-left: $tile-border-outer-edge-hover;
        }
      }

      &-right {
        border-right: $tile-border-outer-edge;

        &:hover {
          border-right: $tile-border-outer-edge-hover;
        }

        &:active {
          border-right: $tile-border-outer-edge-hover;
        }
      }

      &-top {
        border-top: $tile-border-outer-edge;

        &:hover {
          border-top: $tile-border-outer-edge-hover;
        }

        &:active {
          border-top: $tile-border-outer-edge-hover;
        }
      }

      &-bottom {
        border-bottom: $tile-border-outer-edge;

        &:hover {
          border-bottom: $tile-border-outer-edge-hover;
        }

        &:active {
          border-bottom: $tile-border-outer-edge-hover;
        }
      }
    }

    &-inner {
      &-left {
        border-left: $tile-border-inner-edge;

        &:hover {
          border-left: $tile-border-inner-edge-hover;
        }

        &:active {
          border-left: $tile-border-inner-edge-hover;
        }
      }

      &-right {
        border-right: $tile-border-inner-edge;

        &:hover {
          border-right: $tile-border-inner-edge-hover;
        }

        &:active {
          border-right: $tile-border-inner-edge-hover;
        }
      }

      &-top {
        border-top: $tile-border-inner-edge;

        &:hover {
          border-top: $tile-border-inner-edge-hover;
        }

        &:active {
          border-top: $tile-border-inner-edge-hover;
        }
      }

      &-bottom {
        border-bottom: $tile-border-inner-edge;

        &:hover {
          border-bottom: $tile-border-inner-edge-hover;
        }

        &:active {
          border-bottom: $tile-border-inner-edge-hover;
        }
      }
    }
  }
}

.menu {
  display: flex;
  flex: 1;
  margin: 0;
  padding: 0;
  flex-direction: column;
  // border: 0.1em solid $fg0;

  &-header {
    // border: 0.1em solid $red;
    text-align: center;
    margin: 1em 0 0;
    padding: 1em 0 0;

    &-text {
      color: $fg1;
    }
  }

  &-container {
    // border: $menu-container-border;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  }

  &-button {
    margin: 1em 0;
    min-width: 15em;
    height: 2.5em;
    background-color: $bg4;
    border: 0.3em solid $fg2;
    color: $fg0;
    font-size: 1em;

    &:focus {
      background-color: $dark_green;
    }
  }

  &-dropdown {
    position: relative;
    // border: 0.1em solid $fg0;

    &-container {
      margin: 0 auto;
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      left: -5.625em;
      // border: 0.1em solid $fg0;
    }

    &-button {
      margin: 0.25em 0;
      min-width: 15em;
      height: 1.65em;
      background-color: $dark_blue;
      border: 0.2em solid $fg1;
      color: $fg0;
      font-size: 0.75em;
    }
  }
}

.solved-sequence {
  text-align: center;
}
