// @import 'colors/gruvbox-dark.scss';
@import 'colors/gruvbox-light.scss';

$page-background: $bg0_h;
$page-color: $fg0;
$header-color: $blue;
$tile-border-thin: 0.2em solid $bg4;
$tile-border-thin-hover: 0.2em solid $red;
$tile-border-inner-edge: 0.2em solid $dark_blue;
$tile-border-inner-edge-hover: 0.2em solid $red;
$tile-border-outer-edge: 0.2em solid $fg2;
$tile-border-outer-edge-hover: 0.2em solid $red;
$tile-background-color: $bg0;
$tile-width: 3.5em;
$tile-height: 3.5em;
$tile-text-size: 2.75em;

body {
  font-family: Roboto, sans-serif;
  background-color: $page-background;
  color: $page-color;
  margin: 0;
}

.page {
  margin: 0 auto;
  padding: 0.25em 0.25em 0;
  max-width: 70em;

  &-header {
    text-align: center;
    color: $header-color;
    &-text {
      margin: 0.25em 0.5em;
    }
  }

  &-footer {
    text-align: center;
    margin: 0.25em 0 0;

    &-img {
      margin: 0.5em;
    }
  }
}

.sudoku {
  display: block;
  padding: 0;
  margin: 0;

  &-container {
    max-width: 31.9em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
    border: 0.2em solid $aqua;
  }

  &-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  &-tile {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: $tile-border-thin;
    width: $tile-width;
    height: $tile-height;
    background-color: $tile-background-color;

    &-text {
      font-size: $tile-text-size;
      color: $page-color;
    }

    &-highlight {
      background-color: $purple;
    }

    &:hover {
      border: $tile-border-thin-hover;
      cursor: pointer;
    }

    &:active {
      border: $tile-border-thin-hover;
      cursor: pointer;
    }

    &-outer {
      &-left {
        border-left: $tile-border-outer-edge;

        &:hover {
          border-left: $tile-border-outer-edge-hover;
        }

        &:active {
          border-left: $tile-border-outer-edge-hover;
        }
      }

      &-right {
        border-right: $tile-border-outer-edge;

        &:hover {
          border-right: $tile-border-outer-edge-hover;
        }

        &:active {
          border-right: $tile-border-outer-edge-hover;
        }
      }

      &-top {
        border-top: $tile-border-outer-edge;

        &:hover {
          border-top: $tile-border-outer-edge-hover;
        }

        &:active {
          border-top: $tile-border-outer-edge-hover;
        }
      }

      &-bottom {
        border-bottom: $tile-border-outer-edge;

        &:hover {
          border-bottom: $tile-border-outer-edge-hover;
        }

        &:active {
          border-bottom: $tile-border-outer-edge-hover;
        }
      }
    }

    &-inner {
      &-left {
        border-left: $tile-border-inner-edge;

        &:hover {
          border-left: $tile-border-inner-edge-hover;
        }

        &:active {
          border-left: $tile-border-inner-edge-hover;
        }
      }

      &-right {
        border-right: $tile-border-inner-edge;

        &:hover {
          border-right: $tile-border-inner-edge-hover;
        }

        &:active {
          border-right: $tile-border-inner-edge-hover;
        }
      }

      &-top {
        border-top: $tile-border-inner-edge;

        &:hover {
          border-top: $tile-border-inner-edge-hover;
        }

        &:active {
          border-top: $tile-border-inner-edge-hover;
        }
      }

      &-bottom {
        border-bottom: $tile-border-inner-edge;

        &:hover {
          border-bottom: $tile-border-inner-edge-hover;
        }

        &:active {
          border-bottom: $tile-border-inner-edge-hover;
        }
      }
    }
  }
}

.solved-sequence {
  text-align: center;
}
